ul{
    margin: 0;
    padding: 0;
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.footer ul li a{
    color: blueviolet;
    text-decoration: none;
    
}