<div class="user-auth">
    <div *ngIf="!showLogin" class="user-signUp">
        <h1>User Sign-Up</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
        <input class="form-input" type="text" placeholder="Enter User Name" name="name" ngModel>
        <input class="form-input" type="email" placeholder="Enter User Email" name="email" ngModel>
        <input class="form-input" type="password" placeholder="Enter the password" name="password" ngModel>
        <button class="form-button">Sign-Up</button>
        <p>Already Have Account ? <a (click)="openLogin()">👉Click Here👈</a></p>
    </form>
    </div>

    <div *ngIf="showLogin" class="user-login">
        <h1>User Login</h1>
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
        <p class="error-p">{{authError}}</p>
        <input class="form-input" type="email" placeholder="Enter User Email" name="email" ngModel #email="ngModel" required email>
        <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter Your Email</span></p>
        <input class="form-input" type="password" placeholder="Enter the password" name="password" ngModel minlength="3" maxlength="20" #password="ngModel" required>
        <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter Your Password</span></p>
        <button [disabled]="userLogin.invalid" class="form-button">Login</button>
        <p>Create an Account ? <a (click)="openSignUp()">👉Click Here👈</a></p>
    </form>
    </div>
</div>