<div class="user-auth">
    <h1>User Sign-Up</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
        <input class="form-input" type="text" placeholder="Enter User Name" name="name" ngModel>
        <input class="form-input" type="email" placeholder="Enter User Email" name="email" ngModel>
        <input class="form-input" type="password" placeholder="Enter the password" name="password" ngModel>
        <button class="form-button">Sign-Up</button>
    </form>
</div>