/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px ;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}
.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.error-p{
    color: red;
}
.message-p{
    color: green;
    text-align: center;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.332);
    border-radius: 5px;
    
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
    background-color: black;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 15px;
    margin-top: -20px;
    text-align: left;
}

button:disabled{
    cursor: not-allowed;
}