<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>


<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAOofT77I5Aph8NzbMGtH-V_5bbYtsZWQNtQ&usqp=CAU" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product name</h6>
        <p><b>Price:99999</b></p>
        <p><span>Color: red</span><span>category:mobile</span></p>

    </div>
</div>
